body {
  background-color: #F0F7FD;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.93em;
  line-height: 1.3em;
}

p  {
  padding-left: 3em;
  padding-right: 1em;
  margin-top: 0.8em;
}

ul, ol  {
  padding-left: 5em;
  padding-right: 1em;
}

p strong {
  font-weight: bold;
  font-family: helvetica, sans-serif;
}

h1 {
  margin-bottom: 1em;
}

h2 {
  padding-top: 0.2em;
  padding-bottom: 0.4em;
  border-bottom: 2px solid #4040a0;
  margin-bottom: 0;
}

.main {
  background-color: white;
  width: 940px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 1px solid gray;
}

.figure {
  text-align: center;
  margin-top: 0.5em;
}

.caption {
  font-weight: bold;
  margin-bottom: 1.5em;
}

.footer {
  border-top: 1px dotted black;
  padding-top: 1em;
  color: #404040;
}
